<!-- views/listText.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Express</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a href="/" style="text-decoration: none; color: black;">Projeto Express</a>
            </div>
        </div>
    </nav>

    <!-- Cards -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 text-center mb-3">
            <a href="/postText">
                <button type="button" class="btn btn-warning m-1 btn-custom">Criar Texto</button>
            </a>
        </div>
      </div>
        <div class="row">
          <% posts.forEach(post => { %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="/post/<%= post.id %>">
                  <% if (post.image1) { %>
                    <img class="card-img-top" src="<%= post.image1 %>" alt="Imagem do Texto">
                  <% } else { %>
                    <img class="card-img-top" src="/path/to/placeholder.jpg" alt="Placeholder">
                  <% } %>
                </a>
                <div class="card-body">
                  <h4 class="card-title"><%= post.title %></h4>
                  <p class="card-text"><%= post.content.substring(0, 100) %>...</p>
                </div>
                <div class="card-footer">
                  <a href="/post/<%= post.id %>" class="btn btn-warning m-1 btn-custom">Leia Mais</a>
                  <a href="/editText/<%= post.id %>" class="btn btn-warning m-1 btn-custom">Editar</a>
                  <button class="btn btn-warning m-1 btn-custom" onclick="confirmDelete('<%= post.id %>')">Excluir</button>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>

      <!-- Estilos para os botões de Paginação -->
    <style>
      .pagination .page-link {
          color: #000000; /* Cor do texto */
          background-color: #f2e01c; /* Cor de fundo dos botões */
          border-color: #f2e01c; /* Cor da borda dos botões */
      }
  
      .pagination .page-item.active .page-link {
          background-color: #faed58; /* Cor de fundo do botão ativo */
          border-color: #faed58; /* Cor da borda do botão ativo */
      }
  
      .pagination .page-link:hover {
          background-color: #faed58; /* Cor de fundo dos botões quando hover */
          border-color: #faed58; /* Cor da borda dos botões quando hover */
      }
  </style>

    <!-- Paginação -->
    <div class="d-flex justify-content-center mt-4">
      <ul class="pagination">
        <% if (currentPage > 1) { %>
          <li class="page-item">
            <a class="page-link" href="?page=1">Primeira</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page=<%= currentPage - 1 %>">Anterior</a>
          </li>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
          <li class="page-item <%= i === currentPage ? 'active' : '' %>">
            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
          </li>
        <% } %>

        <% if (currentPage < totalPages) { %>
          <li class="page-item">
            <a class="page-link" href="?page=<%= currentPage + 1 %>">Próxima</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page=<%= totalPages %>">Última</a>
          </li>
        <% } %>
      </ul>
    </div>

    <!-- Modal de Confirmação de Exclusão -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Tem certeza que deseja excluir este post?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a id="confirmDeleteButton" class="btn btn-danger" href="#">Excluir</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Script para o Modal -->
    <script>
    function confirmDelete(postId) {
        var deleteUrl = "/deletePost/" + postId;
        document.getElementById('confirmDeleteButton').setAttribute('href', deleteUrl);
        var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        deleteModal.show();
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
